@model MVCAppOne.ViewModels.CartViewModel
@using MVCAppOne.Infrastructure
@using System;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}


<div id="productlist-content">

    @Html.Action("GenresMenu", "Store")

    <div id="productlist-rightsection">
        <div id="breadcrumb-section">
            <img src="../Content/Images/home-small.png" />
            <a href="nav">
                @Html.MvcSiteMap().SiteMapPath()
            </a>
        </div>

        <section class="content-section">
            <div class="section-header" style="margin-bottom: 0px;">
                <h1>Twój koszyk</h1>
            </div>

            <table id="cart-table">
                @foreach (var cartItem in Model.CartItems)
                {
                    <tr id="cart-row-@cartItem.Album.AlbumID">
                        <td>
                            <a href="@Url.Action("Details", "Store", new { id = cartItem.Album.AlbumID })">
                                <img src="@Url.Content(Url.AlbumCoverPath(cartItem.Album.CoverFileName))" />
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("Details", "Store", new { id = cartItem.Album.AlbumID })">@cartItem.Album.AlbumTitle</a>
                        </td>
                        <td>Ilość: <span id="cart-item-count-@cartItem.Album.AlbumID">@cartItem.Quantity</span></td>
                        <td>@String.Format("{0:0.00}", cartItem.TotalPrice) zł</td>
                        <td><a class="removeProduct" data-id="@cartItem.Album.AlbumID" href="#">Usuń</a></td>
                    </tr>
                }


            </table>

            <div id="total-price" style="">
                Razem: <span id="total-price-value">@String.Format("{0:0.00}", Model.TotalPrice)</span> zł
            </div>

            <div class="section-button-container">
                <a class="button-link" href="">Kontynuuj zakupy</a>
                @if (Model.TotalPrice > 0)
                {
                    <a class="button-link" id="cart-button-checkout" href="@Url.Action("Checkout", "Cart")">Kupuję</a>
                }
            </div>

        </section>

    </div>
</div>

@section ScriptsBottom {

    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript">

        $(function () {
            $(".removeProduct").click(function () {

                var recordToDelete = $(this).attr("data-id");

                if (recordToDelete != '') {

                    // Send post request with AJAX
                    $.post("/Cart/RemoveFromCart", { "albumID": recordToDelete },
                        function (response) {
                            // Success
                            if (response.RemovedItemCount == 0) {

                                $('#cart-row-' + response.RemoveItemId).fadeOut('slow', function () {
                                    if (response.CartItemsCount == 0) {
                                        $("#cart-empty-message").removeClass("hidden");
                                    }
                                });
                            } else {
                                $('#cart-item-count-' + response.RemoveItemId).text(response.RemovedItemCount);
                            }

                            if (response.CartItemsCount == 0) {
                                $('#cart-button-checkout').addClass('hidden');
                                $('#total-price').addClass('invisible');
                            }

                            $('#total-price-value').text(response.CartTotal);
                            $('#cart-header-items-count').text(response.CartItemsCount);

                        });

                    return false;
                }
            });

        });
    </script>

}